@model List<LiftoffProj.Models.Paint>
<table class="table">

    <tr>
        <th>Name</th>
        <th>Color</th>

    </tr>

    @foreach (var paint in Model)
    {
        <tr>
            <td>@paint.Name</td>
            <td>@paint.Color</td>

        </tr>
    }
</table>
<p><a asp-controller="Paint" asp-action="Add">Add a new Paint</a></p>
